# Environnements virtuels
*.venv/
.env/

# Fichiers Python compilés
*.pyc
*.pyo
__pycache__/

# Logs
*.log

# Fichiers générés par pytest
.cache/
.coverage
htmlcov/

# Configurations locales et IDE
*.vscode/
.idea/

# Dossiers spécifiques au projet
db_blockchains/
